body {
    background-image: url(assets/images/austin-skyline.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

/* NAV BAR STYLING */


/* MAIN NAVBAR CLASS  */
.navbar {
    padding-top: 20px;
    padding-bottom: 20px;
}


ul {
    text-align: center;
    margin: auto;

}

#siglas {
    height: 8%;
    width: 8%;
}

.bg-light {
    background-color: #333333b5 !important;
}

a.nav-link {
    color: #ffdc85;
}

.navbar-light .navbar-brand {
    color: #ffdc85;
    padding-left: 3%;
    font-size: 1.75rem;
}

/* HOME LINK */
.navbar-light .navbar-nav .active > .nav-link,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .show > .nav-link {
    color: #ffdc85;
}

/* OTHER PAGE LINKS */
.navbar-light .navbar-nav .nav-link {
    color: #ffdc85;
}

.form-control {
    text-align: center;
    height: calc(1em + .75rem + 2px);
}

.btn-outline-success {
    color: #ffdc85;
    border-color: #005082;
}

.container {
    margin-top: 2%;
    text-align: center;
    background-color: #333333b5;
    margin-bottom: 5%;
    /* color: #f2f2f2; */
}

h2 {
    text-align: center;
}


/* ABOUT US CARDS */

.card {
    margin: auto;
    text-align: center;
    border: 10px ridge #005082;
    background-color: #f2f2f2;
    margin-bottom: 2%;
}

h1 {
    color: #f2f2f2;
}

footer {
    background-color: #666666;
    text-align: center;
    padding-bottom: -20px;
    margin-top: 20px;
    height: 35px;
    color: #f2f2f2;
    left: 0;
    bottom: 0;
    width: 100%;
    border-top: 5px solid #ffdc85;
    position: fixed;
}

/* COLOR SCHEME
Yellow: #ffdc85
Blue #005082
Salmon #e19285 */