body {
    font-family: source Sans pro;
    background-color: #f7f7f7; 
}

/* INDEX MAIN DIVS & BACKGROUND */

/* OUR MISSION DIV */
.container {
    text-align: center;
    padding: 1%;
    background-color: #ffdc85;
    /* color: #f2f2f2; */
}
#ourMission {
    background-color: #ffdc85;
}
#ourMissionHeader {
    color: #005082b5;
}
#skyline {
   width: 100%;
   height: 50%;
}


/* QUANTILES DIV */
#quantilesAnalytics {
    background-color: #005082b5;
    text-align: center;
    padding: 1%;
    font-weight: bold;
    color: #f7f7f7;
    font-size: 115%;
}
#quantilesHeader {
    color: #f7f7f7;
}
#quantilesSubHeader {
    color: #f7f7f7;
}
#quantilesP {
    color: #f7f7f7;
}

/* AUTOMATED HEDGE DIV */
#automatedHedging {
    background-color: #ffdc85;
    color: #f7f7f7;
    text-align: center;
    padding: 1%;

    
}
::after, ::before {
    box-sizing: none;
}


/* LIFESTYLE DIV */
#lifeCycle {
    background-color: #005082b5;
    width: auto;
}
#lifeCycleHeader {
    text-align: center;
    color: #f7f7f7;
}
#lifeCycleSubHeader {
    text-align: center;
    color: #f7f7f7;
}
#lifeCycleP {
    text-align: center;
    font-weight: bold;
    color: #f7f7f7;
}
#lifeCycleChallenge {
    float: left;
}
#lifeCycleSolution {
    float: right;
}
#lifeCycleText {
    color: #f7f7f7;
    text-align: center;
}




/* LIVE MARKET DIV */
#liveMarket {
    background-color: #ffdc85;
    text-align: center;
    margin-bottom: 2%;
    padding: 1%;
    width: 100%;
}
#livemarketText {
    color: #333;
}



/* NAV BAR STYLING */
/* MAIN NAVBAR CLASS  */
.navbar {
    padding-top: 20px;
    padding-bottom: 20px;
}


ul {
    text-align: center;
    margin: auto;

}

#siglas {
    height: 8%;
    width: 8%;
}

.bg-light {
    background-color: #005082b5 !important;
}

a.nav-link {
    color: #ffdc85;
}

.navbar-light .navbar-brand {
    color: #ffdc85;
    padding-left: 3%;
    font-size: 1.75rem;
}

/* HOME LINK */
.navbar-light .navbar-nav .active > .nav-link,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .show > .nav-link {
    color: #ffdc85;
}

/* OTHER PAGE LINKS */
.navbar-light .navbar-nav .nav-link {
    color: #ffdc85;
    
}

.navbar-brand {
    font-size: 3rem !important;
}

.form-control {
    text-align: center;
    height: calc(1em + .75rem + 2px);
}

.btn-outline-success {
    color: #ffdc85;
    border-color: #005082;
}



p {
    font-weight: bold;
    color: #333333;
    font-size: 1.5rem;
}


 /* HEADERS AND SUBHEADERS */
h2 {
    text-align: center;
    color: #005082b5;
    margin-top: 1%;
    padding: 1%;
    
}

h3 {
    color: #005082b5;
    
}

h5 {
    color: #005082b5;
    font-size: 2.0rem;
}

#autoTitle {
    color: #005082b5;
}

/* ABOUT US CARDS */

.card {
    margin: auto;
    text-align: center;
    border: 10px ridge #005082;
    background-color: #f2f2f2;
    margin-bottom: 2%;
}

h1 {
    color: #ffdc85;
}

/* IMAGES */


footer {
    background-color: #666666;
    text-align: center;
    padding-bottom: -20px;
    margin-top: 20px;
    height: 35px;
    color: #f2f2f2;
    left: 0;
    bottom: 0;
    width: 100%;
    border-top: 5px solid #ffdc85;
    position: fixed;
}

/* COLOR SCHEME
Yellow: #ffdc85
Blue #005082
Salmon #e19285 */

/* #005082b5 */